<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title></title>
  </head>
  <body>
  <%- include('./partials/navbar') %>
  <br>
  <br>
  <div class="container">
    <div class="row" >
      <div class="col" style="text-align:center">
        <h5>Looking for a date <%=data.first_name%> ?</h5>
        <img src="/profilepic/<%=data.avatar%>" width="250" height="250"style="border-radius: 50%;" alt="">
        <br>
        <br>
      </div>
      <div class="col-9">
        <div>
          <h3>Your Relation</h3>
          <br>
          <%data.Source.forEach(function(request){
            if(request.Relation.status === "OnRelation") {%>
              <div style="border-style:solid">
                <img style="float:left" src="/profilepic/<%=request.avatar%>" width="100" height="100" alt="<%=request.first_name%>">
                <h3><%=request.first_name%> <%=request.last_name%></h3>
                <h4><%=request.description%></h4>
                <h4><a href="/user/askfordate/<%=request.id%>">Ask for date</a></h4>
              </div>
            <%}
          })%>
          <%data.Target.forEach(function(request){
            if(request.Relation.status === "OnRelation") {%>
              <div style="border-style:solid">
                <img style="float:left" src="/profilepic/<%=request.avatar%>" width="100" height="100" alt="<%=request.first_name%>">
                <h3><%=request.first_name%> <%=request.last_name%></h3>
                <h4><%=request.description%></h4>
                <h4><a href="/user/askfordate/<%=request.id%>">Ask for date</a></h4>
              </div>
            <%}
          })%>
        </div>
        <br><br><br>
      </div>
    </div>

</div>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>