<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title></title>
  </head>
  <body>
  <%- include('./partials/navbar') %>
  <br>
  <br>
  <div class="container">
    <div class="row" >
      <div class="col" style="text-align:left">
        <h1>Global Post</h1>
        <br>
        <a style="background:#9C84EF !important"class="btn btn-primary btn-lg" href="/globalpost/id" role="button">Translate to your language</a><br>
        <br>
      <div class="col-9">
        <%data.forEach(function(post){%>
          <div style="border-style:solid">
            <img style="float:left" src="/profilepic/<%=post.User.avatar%>" width="50" height="50" alt="<%=post.User.first_name%>">
            <h5><a href="/user/profile/<%=post.User.id%>"><%=post.User.first_name%> <%=post.User.last_name%></a></h5>
            <h6><%=post.message%></h6>
            <p><%=post.createdAt%></p>
          </div>
        <%})%>
      </div>
    </div>

</div>
<br><br><br>
<%- include('./partials/footer') %>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>